# ReduceDtypeSize

In [1]:
import numpy as np
import cudf
import nvtabular as nvt

In [2]:
big_data = cudf.DataFrame(
    data={'ints': [1, 4, 32],
          'larger_ints': [0, 1, 128],
          'floats': [0.1, 0.2, 0.01]
})
big_data

   ints  larger_ints  floats
0     1            0    0.10
1     4            1    0.20
2    32          128    0.01

In [3]:
big_data.dtypes

ints             int64
larger_ints      int64
floats         float64
dtype: object

In [4]:
minify = big_data.columns >> nvt.ops.ReduceDtypeSize()

ds = nvt.Dataset(big_data)
wf = nvt.Workflow(minify)

minified = wf.fit_transform(ds).compute()
minified

   ints  larger_ints  floats
0     1            0    0.10
1     4            1    0.20
2    32          128    0.01

In [5]:
minified.dtypes

ints              int8
larger_ints      int16
floats         float32
dtype: object