# Rename

In [1]:
import cudf
import nvtabular as nvt

In [2]:
df = cudf.DataFrame(data={'idx': [1,2,3], 's_agg_reg_denorm_07': [123.04, 21.02, 67.17]})
df.head()

   idx  s_agg_reg_denorm_07
0    1               123.04
1    2                21.02
2    3                67.17

In [3]:
out = ['s_agg_reg_denorm_07'] >> nvt.ops.LogOp() >> nvt.ops.Rename(name='sales_log')

dataset = nvt.Dataset(df)
wf = nvt.Workflow(out + ['idx'])

wf.fit_transform(dataset).compute()

   sales_log  idx
0   4.820604    1
1   3.091951    2
2   4.222004    3